<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="onSubmit( formRef )"
                  #formRef="ngForm"
                  class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Create new account
                </span>

                <span *ngIf="formRef.submitted && formRef.controls['email'].errors"
                      class="text-danger animated fadeIn" >Email is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="email"
                           name="email"
                           required
                           placeholder="Email"
                           [(ngModel)]="user.email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formRef.submitted && formRef.controls['name'].errors"
                      class="text-danger animated fadeIn" >Name is required</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="text"
                           name="name"
                           placeholder="Name and last name"
                           [(ngModel)]="user.name"
                           required>

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="formRef.submitted && formRef.controls['password'].errors"
                      class="text-danger animated fadeIn" >Requires at least 6 digits</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100"
                           type="password"
                           name="password"
                           placeholder="Password"
                           [(ngModel)]="user.password"
                           minlength="6"
                           required>
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="remember"
                                class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                                Remember my user
                            </label>
                    </div>

                    <div>
                        <a routerLink="/login" class="txt1">
                                Already have an account? / Log In
                            </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                            Create account
                        </button>
                </div>

            </form>
        </div>
    </div>
</div>
